
<!-- <div class="header">
  <div class="checbox">
    <input  type="checkbox" 
            name="discount" 
            id="discount"
            (change)="isCheckedDis = !isCheckedDis"
            (change)="onChangeDisc($event)" 
            [checked]="isCheckedDis">                 
    <label for="discount">Discount</label>

    <input type="checkbox"
           name="vegeterian"
           id="vegeterian"
           (change)="isCheckedDis = !isCheckedDis"
           (change)="onChangeDisc($event)" 
           [checked]="isCheckedDis">>
    <label for="vegeterian">Vegeterian</label>    
  </div>
  <div class="cart">
    <i class="material-icons">shopping_cart</i>
  </div>
</div> -->



<!-- <section class="example-section" >  
  <mat-checkbox class="example-margin">Discount</mat-checkbox>
  <mat-checkbox class="example-margin">Vegeterian</mat-checkbox>
 
</section> -->
